/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Delius";
  src: url("../style/Delius,Fleur_De_Leah/#4d354e") format("");
}
/* Estilos generales */
header nav div a img {
  height: 50px;
}

body {
  background-color: #a8d6bf;
  font-weight: 400;
  font-style: normal;
}
body h1 {
  color: #4d354e;
  font-family: "Delius", Helvetica, sans-serif;
  text-align: center;
}

.navbarColor {
  background-color: #bdc4d8;
}

/* Estilos page singup*/
#nuevoUser {
  background-color: blanchedalmond;
  border: #4d354e solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
}

.formularioNuevoUsuario div {
  margin: 10px;
}

/* Estilos page singin */
#login {
  background-color: cornsilk;
  border: #4d354e solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

#login div {
  margin: 10px;
}

/* Estilos producto */
.producto {
  display: flex;
  flex-wrap: wrap;
  border: #4d354e solid;
}

#imagenProducto {
  margin: 10px;
}

#botonCantidad :hover {
  background-color: green;
}

/* Estilos Nuevo usuario*/
.nuevoUser {
  display: flex;
  flex-wrap: wrap;
}

/* estilos mobiles pages carrito*/
/* estilos imagenes carrito */
.imagenCarrito {
  width: 400px;
  display: flex;
}

.mainCArrito {
  height: 75vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.div1 {
  grid-area: 1/1/2/2;
}

.div2 {
  grid-area: 2/1/3/2;
}

.div3 {
  grid-area: 3/1/4/2;
}

.div4 {
  grid-area: 4/1/5/2;
}

/* Estilos footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #bdc4d8;
  margin-bottom: auto;
}

/* estilos de tablet carrito */
@media screen and (min-width: 600px) {
  main .mainCarrito {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 4px;
    row-gap: 4px;
  }
  main .mainCarrito .div1 {
    grid-area: 1/1/2/2;
  }
  main .mainCarrito .div2 {
    grid-area: 1/2/2/3;
  }
  main .mainCarrito .div3 {
    grid-area: 2/1/3/2;
  }
  main .mainCarrito .botonCuatro {
    grid-area: 3/1/4/3;
  }
}
/* estilos de desktop (carrito) */
@media screen and (min-width: 1024px) {
  main .mainCarrito {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 4px;
    row-gap: 4px;
  }
  main .mainCarrito .div1 {
    grid-area: 1/1/2/2;
  }
  main .mainCarrito .div2 {
    grid-area: 1/2/2/3;
  }
  main .mainCarrito .div3 {
    grid-area: 2/1/3/2;
  }
  main .mainCarrito .botonCuatro {
    grid-area: 3/1/4/3;
  }
}
/* Estilo mobile index*/
main .gridIndex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 4px;
  row-gap: 8px;
}
main .gridIndex .imagenIndex {
  grid-area: 1/1/2/2;
}
main .gridIndex .descripcionIndex {
  grid-area: 2/1/3/2;
}
main .gridIndex img {
  margin: 10px;
}

/* estilos de tablet index */
@media screen and (min-width: 600px) {
  main .gridIndex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40%;
    column-gap: 6px;
    row-gap: 8px;
  }
  main .gridIndex .imagenIndex {
    grid-area: 1/1/2/2;
    padding: 10px;
  }
  main .gridIndex .descripcionIndex {
    grid-area: 1/2/2/3;
    padding: 10px;
  }
}
/* Estilos desktop index*/
@media screen and (min-width: 1024px) {
  main .gridIndex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40%;
    column-gap: 6px;
    row-gap: 8px;
  }
  main .gridIndex .imagenIndex {
    grid-area: 1/1/2/2;
  }
  main .gridIndex .descripcionIndex {
    grid-area: 1/2/2/3;
  }
}
/* estilos de tablet page Producto */
@media screen and (min-width: 600px) {
  main .producto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40%;
    column-gap: 6px;
    row-gap: 8px;
  }
  main .producto .imgGridProducto {
    grid-area: 1/1/2/2;
    padding: 10px;
  }
  main .producto .descripcionProducto {
    grid-area: 1/2/2/3;
    padding: 10px;
  }
}
/* Estilos desktop Page producto*/
@media screen and (min-width: 1024px) {
  main .producto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40%;
    column-gap: 6px;
    row-gap: 8px;
  }
  main .producto .imgGridProducto {
    grid-area: 1/1/2/2;
  }
  main .producto .descripcionProducto {
    grid-area: 1/2/2/3;
  }
}
/* estilos de tablet page ingreso */
@media screen and (min-width: 600px) {
  main .gridIngreso {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40%;
    column-gap: 6px;
    row-gap: 8px;
  }
  main .gridIngreso #login {
    grid-area: 1/2/2/3;
  }
}
/* Estilos desktop page ingreso*/
@media screen and (min-width: 1024px) {
  main .gridIgreso {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40%;
    column-gap: 6px;
    row-gap: 8px;
  }
  main .gridIgreso #login {
    grid-area: 1/2/2/3;
  }
}
/* estilos de tablet page nuevo usuario */
@media screen and (min-width: 600px) {
  main #nuevoUser {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 6px;
    row-gap: 8px;
  }
  main #nuevoUser .formularioNuevoUsuario {
    grid-area: 1/2/2/3;
  }
}
/* Estilos desktop page nuevo usuario*/
@media screen and (min-width: 1024px) {
  main #nuevoUser {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 6px;
    row-gap: 8px;
  }
  main #nuevoUser .formularioNuevoUsuario {
    grid-area: 1/2/2/3;
  }
}

/*# sourceMappingURL=style.css.map */
