// variables del proyecto

// Paleta de colores
$color-navFootBg: #bdc4d8;
$color-violet: #4d354e;
$color-loginBg: cornsilk;
$color-newUserBg: blanchedalmond;
$color-botonHover: green;
$color-bodyBg: #a8d6bf;

